{% extends "base.html" %}

{% block content %}
    <div class="container">
      <h1>Please login</h1>
    <h6> *This does not work, but if you want you can type in admin to both fields</h6>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  {% endblock %}
