{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
    <p>
        {{ form.archetype.label }}<br>
        {{ form.archetype(size = 30) }}
    </p>
    </form>

    <h1>Pick your plot</h1>
    <h3>Overcoming the Monster</h3>
        <h4>Description</h4>
    <h3>Rags to Riches</h3>
        <h4>Description</h4>
    <h3>The Quest</h3>
        <h4>Description</h4>
    <h3>Voyage and Return</h3>
        <h4>Description</h4>
    <h3>Comedy</h3>
        <h4>Description</h4>
    <h3>Tragedy</h3>
        <h4>Description</h4>
    <h3>Rebirth</h3>
        <h4>Description</h4>
    <h3> Other:</h3>
{% endblock %}