{% extends "base.html" %}

{% block content %}
    <h1>Write Your Book</h1>
    <form action="" method="post">
    <p>
        {{ form.beginning.label }}<br>
        {{ form.beginning(cols = '100',rows = '50') }}
    </p>
    <p>
        {{ form.introduce_conflict.label }}<br>
        {{ form.introduce_conflict(cols = '100',rows = '50') }}
    </p>
    <p>
        {{ form.climax.label }}<br>
        {{ form.climax(cols = '100',rows = '50') }}
    </p>
    <p>
        {{ form.resolve_conflict.label }}<br>
        {{ form.resolve_conflict(cols = '100',rows = '50') }}
    </p>
    <p>
        {{ form.end.label }}<br>
        {{ form.end(cols = '100',rows = '50')}}
    </p>

    <p>{{ form.submit() }}</p>
</form>

{% endblock %}